* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    margin-top: 1vh;
}

header {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 5%;
}

.caixaDeSolicitacao {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.caixaDeSolicitacao input {
    width: 100%;
    border-bottom: 1px solid var(--cor-principal);
    outline: none;
    padding: 1%;
}

.divSolicitacao div {
    display: flex;
    flex-direction: row;
    width: 98%;
    padding: 1%;
    justify-content: space-between;
}

.divSolicitacao input {
    width: 100%;
    border-bottom: 1px solid var(--cor-principal);
    outline: none;
    padding: 1%;
}

.divSolicitacao button {
    font-size: 16px;
    background-color: var(--cor-secundaria);
}

.solicitacoes {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 97%;
    height: 40vh;
    margin-top: 5vh;
}

.solicitacao {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
    color: blue;
}

.solicitacao button {
    background-color: var(--cor-secundaria);
    color: black;
}