* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    margin-top: 1vh;
}

header {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 5%;
}

.caixaDeSolicitacao {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divSolicitacao div {
    display: flex;
    flex-direction: row;
    width: 95%;
    padding: 1%;
    justify-content: space-between;
}

.divSolicitacao input {
    padding: 1%;
    outline: none;
    width: 80%;
    display: inline-block;
    padding: 2%;
    background-color: var(--cor-terciaria);
    font-family: monospace;
    border-radius: 10px;
    color: var(--color-font);
    outline: none;
}

.divSolicitacao button {
    font-size: 16px;
    background-color: var(--cor-secundaria);
    color: blue;
}

.solicitacoes {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    margin-top: 5vh;
}

.solicitacao {
    width: 90%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
    color: var(--cor-secundaria);
    /* background-color: var(--cor-principal); */
    padding: 2%;
    border-radius: 10px;
    box-shadow: 2px 2px var(--cor-terciaria);
}

.solicitacao button {
    background-color: transparent;
    color: var(--cor-secundaria);
    padding: 4px;
}

.concluido {
    background-color: blue !important; 
}