* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    margin-top: 1vh;
}

header {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 5%;
}

.dados, .descricaoRegras {
    border: 2px solid var(--cor-principal);
    width: 90%;
    height: auto;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.dados h3, p{
    display: inline-block;
    font-size: 14px;
}

.descricaoRegras ul {
    font-size: 12px;
    font-weight: 800;
    padding: 4%;
}

.caixaDeSolicitacao {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divSolicitacao {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.divSolicitacao input {
    width: 90%;
    border-bottom: 1px solid var(--cor-principal);
    outline: none;
    padding: 1%;
}

.divSolicitacao button {
    font-size: 16px;
    background-color: var(--cor-secundaria);
}

.solicitacoes {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 97%;
    height: 40vh;
    margin-top: 5vh;
}

.solicitacao {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}

.solicitacao button {
    background-color: var(--cor-secundaria);
}